<!doctype html>
<html>
<head>
  <title>A Game</title>
</head>
<body>
    <form action="/madlib">
        <label>
            Name of person: <input type="text" name="person">
        </label>
        <label>
            Color: <input type="text" name="color">
        </label>
        <label>
            Noun: <input type="text" name="noun">
        </label>
        <label>
            Adjective: <input type="text" name="adjective">
        </label>
        <input type="submit">
    </form>
</body>
</html>