{% extends 'base.html' %}
{% block title %}A Game{% endblock %}
{% block body %}
    <form action="/madlib">
        <table>
            <tr>
                <td>
                    <label>Name of person: </label>
                </td>
                <td>
                    <input type="text" name="person">
                </td>
            </tr>
            <tr>
                <td>
                    <label>Color: </label>
                </td>
                <td>
                    <select name="color">
                        <option value="sparkle">sparkle</option>
                        <option value="mauve">mauve</option>
                        <option value="aquamarine">aquamarine</option>
                        <option value="orange">orange</option>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Noun: </label>
                </td>
                <td>
                    <input type="text" name="noun">
                </td>
            </tr>
            <tr>
                <td>
                    <label>Verb: </label>
                </td>
                <td>
                    <input type="checkbox" name="verb" value="float">float
                    <input type="checkbox" name="verb" value="dribble">dribble
                    <input type="checkbox" name="verb" value="brush">brush
                    <input type="checkbox" name="verb" value="roar">roar
                    <input type="checkbox" name="verb" value="tumble">tumble
                </td>
            </tr>
            <tr>
                <td>
                    <label>Adjective: </label>
                </td>
                <td>
                    <input type="text" name="adjective">
                </td>
            </tr> 
            <tr>
                <td>
                    <label>Adverb: </label>
                </td>
                <td>
                    <input type="radio" name="adverb" value="lazily">lazily
                    <input type="radio" name="adverb" value="clumsily">clumsily
                    <input type="radio" name="adverb" value="proudly">proudly
                    <input type="radio" name="adverb" value="happily">happily
                </td>
            </tr>
            <tr>
                <td>
                    <label>Deepest Darkest Secret: </label>
                </td>
                <td>
                    <textarea name="secret"></textarea>
                </td>
            </tr>      
        </table>
        <input type="submit" value="        submit">
    </form>
{% endblock %}
