{% extends 'base.html' %}


{% block title %}A Madlib{% endblock %}

    {% block body %}
        <h1>Your Madlib</h1>
        There once was a person named {{ person }}. Their hair was {{ color }} and their pants were {{ adjective }}.  During lunch, they {{ adverb }} ate {{ noun }}.
        {% if verbs %}
            They liked to {{ verbs[0] }}
            {% for verb in verbs[1:] %}
                and {{ verb }}{% endfor %}.
        {% endif %}
        {% if verbs[5] %}
        <p>Hi!</p>
        {% endif %}
        <br>
        <br>
        <br>
        <em id="secret">{{ secret }}</em>

    {% endblock %}